<div class="card" (click)="toggleState()" #card [style.cursor]="simple ? 'normal' : 'pointer'">
    <div class="img-wrapper" #wrapDiv>
        <div class="card-image" [style.background-image]="'url(' + image + ')'" [style.paddingBottom.%]="ratio * 100" #imgDiv>
        </div>
    </div>
    <div class="toolbelt" *ngIf="user.user.value && (removeCallback || editLink)">
        <div class="remove-icon" *ngIf="removeCallback" (click)="removeCallback()">
            <span class="material-symbols-sharp">
                delete
            </span>
        </div>
        <a class="edit-icon" *ngIf="editLink" [routerLink]="editLink" [queryParams]="editParams">
            <span class="material-symbols-sharp">
                edit
            </span>
        </a>
    </div>
    <div class="card-hashtags" *ngIf="!simple">
        <span class=".hashtag" *ngFor="let hashtag of hashtags">
            <app-highlightable [text]="'#' + hashtag"/>&nbsp;
        </span>
    </div>
    <div class="card-caption" *ngIf="!simple">
        <app-highlightable [text]="caption"/>
    </div>
    <div class="card-description" *ngIf="!simple">
        <app-highlightable [text]="description"/>
    </div>
</div>