.card {
    transition: all 0.4s;
    /* cursor: pointer; */
    overflow: hidden;
}

.card:hover {
    box-shadow: 2px 2px 1pc #ccc;
}

.card-image {
    width: 100%;
    transition: all 0.4s;
    background-size: cover;
}

.img-wrapper {
    margin: 1em;
    overflow: hidden;
    background-color: white;
    /* position: relative; */
}

.card:hover .card-image {
    transform: scale(1.2);
    /* filter: blur(5px); */
}

.card .card-caption {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}
.card-caption {
    padding-top: 1em;
    padding-left: 1em;
}

.card-description {
    padding-top: 1em;
    padding-left: 1em;
}

.card-hashtags {
    padding-top: 1em;
    padding-left: 1em;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: grey;
    display: flex;
    width: inherit;
    word-wrap: break-word;
    flex-wrap: wrap;
    overflow: hidden;
}

.hashtag {
    width: unset;
}

.edit-icon {
    transition: all 0.4s;
    color: white;
    background-color: rgb(217, 118, 37);
    font-size: 1.5em;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.edit-icon:hover {
    transform: scale(1.1);
}

.edit-icon span {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

.remove-icon {
    transition: all 0.4s;
    color: white;
    background-color: rgb(202, 18, 18);
    font-size: 1.5em;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.remove-icon span {
    font-size: 1.5em;
}

.remove-icon:hover {
    transform: scale(1.1);
}

.toolbelt {
    width: calc(100% - 0.6em);
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0.3em;
    margin-top: -3em;
    margin-bottom: 1em;
    opacity: 0.99;
}
