.log-in-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-right: 1em;
}

.log-in-btn:hover {
    color: rgb(217, 118, 37);
}

.log-in-btn span {
    padding: 1em;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    padding: 4em;
    border-radius: 1.5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-height: calc(100vh - 8em);
    overflow-y: auto;
}

.header {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header div {
    cursor: pointer;
    padding: 0 2em;
    font-size: 2em;
}

.user-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25vw;
    position: relative;
    height: 10vh;
    cursor: pointer;
}

.user-panel img{
    height: 5vh;
    border-radius: 5vh;
}

.log-out {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    position: absolute;
    width: 100%;
    height: 10vh;
    background-color: white;
    top: 10vh;
    cursor: pointer;
    z-index: 5;
}

.log-out:hover {
    color: rgb(217, 118, 37);
}

app-nice-input {
    margin: 0.5em;
    width: 100%;
}

app-nice-input:first-of-type {
    margin-top: 3em;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 2em;
    margin-bottom: -2em;
    width: 100%;
}

button {
    margin-top: 1em;
}