<div class="log-in-btn" *ngIf="!user.user.value" (click)="clicked=true">
    Log In
    <span class="material-symbols-sharp">
        person
    </span>
</div>

<div class="user-panel" *ngIf="user.user.value" (click)="clicked=!clicked">
    <img src="assets/capys/_02acff18-86d9-40f2-8583-6f38d0d8202d.jpg"/>
    <span>
        {{user.user.value.ime}}
    </span>
    <span *ngIf="!clicked" class="material-symbols-sharp">
        expand_more
    </span>
    <span *ngIf="clicked" class="material-symbols-sharp">
        expand_less
    </span>
    <div *ngIf="clicked" (click)="clicked = false; user.logOut()" class="log-out">
        Log Out
    </div>
</div>

<div *ngIf="clicked && !user.user.value" class="shadow" (click)="clicked=false">
    <div class="popup" (click)="stp($event)">
        <div class="header">
            <div (click)="newUser=false" [style.color]="orangeIf(!newUser)">Sign In</div>
            <div (click)="newUser=true" [style.color]="orangeIf(newUser)">Sign Up</div>
        </div>
        <app-user-form *ngIf="newUser" (newUser)="signUp($event)"/>
        <div class="form" *ngIf="!newUser">
            <app-nice-input icon="alternate_email" [(value)]="login" label="Email" placeholder="example@localhost.com" [regex]="emailRegex"/>
            <app-nice-input icon="lock_open" [(value)]="password" type="password" label="Password" placeholder="********"/>
            <button (click)="logIn()">Sign In</button>
            <div class="error">{{result}}</div>
        </div>
    </div>
</div>
