div {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

div span {
    color: rgb(217, 118, 37);
    display: block;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
}

.not {
    padding-right: 0.2em;
}