<app-nav-bar [agency]="agency" />

<div class="image-holder">
    <img [src]="agency?.logo">
</div>

<div *ngIf="agency" class="page">

    <div class="toolbelt" *ngIf="user.user.value">
        <div class="save-icon" (click)="save()">
            <span class="material-symbols-sharp">
                save
            </span>
        </div>
        <div class="remove-icon" (click)="deleteAgency(agency)">
            <span class="material-symbols-sharp">
                delete
            </span>
        </div>
    </div>

    <app-nice-input icon="title" label="Agency name" placeholder="Kek Tours" [(value)]="agency.naziv" />

    <app-nice-input icon="explore" label="Agency address" placeholder="21000, Novi Sad, Kosovskaya 9"
        [(value)]="agency.adresa" />
    <app-nice-input icon="call" label="Agency phone" placeholder="+7 (977) 977-27-20" [(value)]="agency.brojTelefona" [regex]="phoneRegex"/>
    <app-nice-input icon="mail" label="Agency email" placeholder="a@a.ru" [(value)]="agency.email" [regex]="emailRegex"/>
    <app-nice-input icon="photo" label="Logo Url" placeholder="http://example.com/my-image.jpeg" [(value)]="agency.logo" />

    <div class="errors">
        {{errors}}
    </div>

    <div class="add-more">
        <button (click)="addDestination()"> Add Destination <span class="material-symbols-sharp"> add_location_alt </span> </button>
    </div>

    <div class="dists">
        <div class="agencies">
            <div class="column" *ngFor="let col of columns; let i = index">
                <div class="bar"></div>
                <app-simple-card class="card" *ngFor="let dest of col"
                    [image]="dest.slike?.[0] ?? 'assets/capys/_929cdc23-25cc-422f-b4f6-1ccfe265d67a.jpg'"
                    [caption]="dest.naziv" [removeCallback]="deleteDestination(dest)" [description]="dest.opis"
                    [goto]="destLink(dest)" [editLink]="'/admin/edit/destination/' + dest.id"
                    [editParams]="{by:agency.id}" />
            </div>
        </div>
    </div>
</div>