div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
}

span {
    padding-right: 1em;
}

.label {
    padding-right: 1em;
    width: 9em;
    justify-content: start;
}

input {
    height: 100%;
    width: 100%;
    border-radius: 1.5em;
    border: none;
    background-color: transparent;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 1pc #ccc;
    padding-left: 1em;
}

input:focus{
    outline: none;
}