<div>
    <div class="label" *ngIf="label">
        {{label}}
    </div>
    <span class="material-symbols-sharp">
        {{icon}}
    </span>
    <input *ngIf="!dateParams" [placeholder]="placeholder" [type]="type" [(ngModel)]="value" (ngModelChange)="validate(value); valueChange.emit(value)" #input>
    <input style="padding-right: 1em;" *ngIf="dateParams" type="date" [min]="dateParams.min" [max]="dateParams.max" [(ngModel)]="value" (ngModelChange)="validate(value); valueChange.emit(value)" #input>
</div>
