.page {
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    background-color: white;
}

app-nav-bar {
    width: 100vw;
    height: 10vh;
}

.image-holder {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.image-holder img {
    width: 100vw;
    display: block;
    filter: blur(5px);
}

.page {
    top: 30vh;
    left: 15vw;
    width: 70vw;
    padding: 1em;

    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
}

.page .title {
    margin: 1em 0;
    font-size: 1.5em;
}

.page .text {
    margin-bottom: 1em;
}

.page .item {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: max-content;
}

.page .item span {
    margin-right: 1em;
}

.dists {
    width: 70vw;
    overflow: hidden;
}

.agencies {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.agencies .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.agencies .column .card {
    width: 100%;
}

.save-icon {
    transition: all 0.4s;
    color: white;
    background-color: rgb(48, 199, 48);
    font-size: 1.5em;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: -1em;
    top: -1em;
}

.save-icon:hover {
    transform: scale(1.1);
}

.save-icon span {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

.remove-icon {
    transition: all 0.4s;
    color: white;
    background-color: rgb(202, 18, 18);
    font-size: 1.5em;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: -1em;
    top: -1em;
}

.remove-icon span {
    font-size: 1.5em;
}

.remove-icon:hover {
    transform: scale(1.1);
}

.num-in {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 100%;
}

.num-in span {
    padding-right: 1em;
}

.num-in  .label {
    padding-right: 1em;
    width: 9em;
    justify-content: start;
}

.num-in input {
    height: 100%;
    width: 100%;
    border-radius: 1.5em;
    border: none;
    background-color: transparent;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 1pc #ccc;
    padding-left: 1em;
}

.num-in input:focus{
    outline: none;
}

app-nice-input {
    width: 100%;
    padding-bottom: 1em;
}

textarea {
    height: 10em;
    margin-bottom: 1em;
    width: calc(100% - 1em);
    border-radius: 1.5em;
    border: none;
    background-color: transparent;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 1pc #ccc;
    padding-left: 1em;
    resize: vertical;
}

.add-more {
    margin-top: 1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-more app-nice-input {
    width: 50%;
}

