<app-nav-bar #appNav [agency]="agency" [destination]="destination" />

<div class="image-holder">
    <img [src]="logo">
</div>

<div *ngIf="destination" class="page">

    <div class="toolbelt" *ngIf="user.user.value">
        <div class="save-icon" (click)="save()">
            <span class="material-symbols-sharp">
                save
            </span>
        </div>
        <div class="remove-icon" (click)="deleteDestination(destination)">
            <span class="material-symbols-sharp">
                delete
            </span>
        </div>
    </div>

    <app-nice-input icon="location_on" label="Destination name" placeholder="Paris" [(value)]="destination.naziv" />
    <textarea placeholder="Your description here..." [(ngModel)]="destination.opis"></textarea>

    <app-nice-input icon="home_work" label="Type" placeholder="Hotel & tours" [(value)]="destination.tip" />
    <app-nice-input icon="commute" label="Comute" placeholder="Plane" [(value)]="destination.prevoz" />
    <div class="num-in">
        <span class="label">Price</span>
        <span class="material-symbols-sharp">
            euro
        </span>
        <input type="number" icon="euro" label="Price" placeholder="140" [(ngModel)]="destination.cena"/>
    </div>
    <div class="add-more">
        <app-nice-input icon="add_photo_alternate" placeholder="http://example.com/my-image.jpeg" [(value)]="newSlika" />
        <button (click)="addImage()">Add image</button>
    </div>
    <div class="dists" (click)="stp($event)">
        <div class="agencies">
            <div class="column" *ngFor="let col of columns; let i = index">
                <app-simple-card class="card" *ngFor="let img of col" [image]="img" [simple]="true"
                    [removeCallback]="deleteSlike(img)" />
            </div>
        </div>
    </div>
</div>