.form {
    display: block;
    height: max-content;
    padding-top: 2em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

app-nice-input, .row {
    width: 50em;
    padding: 0.5em;
    display: block;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row:first-child {
    padding-right: 1em;
}

.row app-nice-input {
    padding-left: 0;
    width: 24em;
}

.log-in-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 1em;
    margin-bottom: -2em;
}

.log-in-btn:hover {
    color: rgb(217, 118, 37);
}

.log-in-btn span {
    padding: 1em;
}

.error {
    margin-top: 1rem;
    padding: 0.5em;
    color: rgb(217, 118, 37);
    margin-bottom: -2em;
    border: 2px rgb(217, 118, 37) solid;
    border-radius: 1rem;
    font-size: 1.5em;
}
