<div class="form">
    <div class="row">
        <app-nice-input icon="badge" label="Username"
            [(value)]="user.korisnickoIme"
            [placeholder]="userPlaceholder['korisnickoIme']" 
            [error]="userError['korisnickoIme']" [regex]="userRegex['korisnickoIme']" />
        <app-nice-input icon="person" label="Name"
            [(value)]="user.ime"
            [placeholder]="userPlaceholder['ime']" 
            [error]="userError['ime']" [regex]="userRegex['ime']" />
    </div>
    <div class="row">
        <app-nice-input icon="alternate_email" label="Email"
            [(value)]="user.email"
            [placeholder]="userPlaceholder['email']" 
            [error]="userError['email']" [regex]="userRegex['email']" />
        <app-nice-input icon="group" label="Surname"
            [(value)]="user.prezime"
            [placeholder]="userPlaceholder['prezime']" 
            [error]="userError['prezime']" [regex]="userRegex['prezime']" />
    </div>
    <app-nice-input icon="calendar_month" label="Birthday"
        [(value)]="user.datumRodjenja"
        [dateParams]="{min:'1900-01-01', max:'2008-01-01'}"/>
    <app-nice-input icon="house" label="Address"
        [(value)]="user.adresa"
        [placeholder]="userPlaceholder['adresa']" 
        [error]="userError['adresa']" [regex]="userRegex['adresa']" />
    <app-nice-input icon="call" label="Phone"
        [(value)]="user.telefon"
        [placeholder]="userPlaceholder['telefon']" 
        [error]="userError['telefon']" [regex]="userRegex['telefon']" />
    <app-nice-input icon="lock_open" label="Password"
        [(value)]="user.lozinka" type="password" [placeholder]="userPlaceholder['lozinka']" [regex]="userRegex['lozinka']" />
    
    <div class="row">
        <button class="log-in-btn" (click)="signUp()">{{user.id ? 'Change' : 'Sign Up'}}</button>
        <div *ngIf="result" class="error">{{result}}!</div>
    </div>
</div>