.nav-bar {
    height: 10vh;

    display: flex;
    justify-content: space-between;
    padding: 0 0 0 1em;
    align-items: center;
    background-color: white;
    position: fixed;
    width: calc(100vw - 1em);
    z-index: 10;
}

app-login-page {
    max-width: calc(min(30em, 25vw));
}

.nav-bar .left {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: rgb(217, 118, 37);
}

.nav-bar .left span{
    color: black;
}

.center-nav {
    position: absolute;
    left: calc(max(15vw + 1em, 12em));
    max-width: calc(65vw - 1em);
}
