<div class="nav-bar" *ngIf="!data.loading.value">
    <div>
        <a class="left" routerLink="/"><span [style.font-size]="'36px'">E</span>static <span
                [style.font-size]="'48px'">T</span>ravel</a>
    </div>
    <div class="center-nav">
        <a routerLink="/">Home</a><span *ngIf="user.user.value || agency || destination">&nbsp;/&nbsp;</span>
        <a *ngIf="agency" [routerLink]="'/agency/' + agency.id">{{agency.naziv}}</a><span *ngIf="agency && (user.user.value || destination)">&nbsp;/&nbsp;</span>
        <a *ngIf="destination">{{destination.naziv}}</a><span *ngIf="destination && user.user.value">&nbsp;/&nbsp;</span>
        <a *ngIf="user.user.value" routerLink="/admin/edit/users">Manage Users</a>
    </div>
    <app-login-page />
</div>