img {
    height: 5vh;
    width: 5vh;
    border-radius: 5vh;
    margin-right: 0.5em;
}

table {
    margin-top: 15vh;
    width: 100%;
}

th {
    text-align: left;
  }

tr {
    cursor: pointer;
    width: 100%;
}

.shadow {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup {
    padding: 4em;
    border-radius: 1.5em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    max-height: calc(100vh - 8em);
    overflow-y: auto;
}
