<app-nav-bar></app-nav-bar>

<table>
    <tr>
      <th>Capy</th>
      <th>Korisnicko Ime</th>
      <th>Lozinka</th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Email</th>
      <th>Datum Rodjenja</th>
      <th>Adresa</th>
      <th>Telefon</th>
    </tr>
    <tr *ngFor="let user of data.users" class="user-panel" [style.background-color]="color(user)" (click)="edit(user)">
        <img src="assets/capys/_02acff18-86d9-40f2-8583-6f38d0d8202d.jpg"/>
        <td>{{user.korisnickoIme}}</td>
        <td>{{user.lozinka}}</td>
        <td>{{user.ime}}</td>
        <td>{{user.prezime}}</td>
        <td>{{user.email}}</td>
        <td>{{user.datumRodjenja}}</td>
        <td>{{user.adresa}}</td>
        <td>{{user.telefon}}</td>
    </tr>
</table>

<div *ngIf="clicked" class="shadow" (click)="clicked=false">
    <div class="popup" (click)="stp($event)">
        <app-user-form *ngIf="curUser" (newUser)="editUser($event)" [user]="curUser"/>
    </div>
</div>
