<app-nav-bar [agency]="agency"/>

<div class="image-holder">
    <img [src]="agency?.logo">
</div>

<div *ngIf="agency" class="page" [style.opacity]="opacity">

    <div class="toolbelt" *ngIf="user.user.value">
        <a class="edit-icon" [routerLink]="'/admin/edit/agency/' + agency.id">
            <span class="material-symbols-sharp">
                edit
            </span>
        </a>
        <div class="remove-icon" (click)="deleteAgency(agency)">
            <span class="material-symbols-sharp">
                delete
            </span>
        </div>
    </div>

    <div class="title">{{agency.naziv}}</div>
    <div class="text">Your travel will be unforgettble with {{agency.naziv}}. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Dolore, mollitia amet expedita quo reiciendis voluptatem, quidem id corporis veritatis non
        nemo tempore ipsum accusamus nulla iusto fugit! Iste, nihil esse.</div>
    <a [href]="'https://www.google.com/maps?q=' + encodeURIComponent(agency.adresa)"> <span
            class="material-symbols-sharp">
            explore
        </span> {{agency.adresa}}</a>
    <a [href]="'tel:' + encodeURIComponent(agency.brojTelefona)"> <span class="material-symbols-sharp">
            call
        </span> {{agency.brojTelefona}}</a>
    <a [href]="'mailto:' + encodeURIComponent(agency.email)"> <span class="material-symbols-sharp">
            mail
        </span> {{agency.email}}</a>
    <div class="title" *ngIf="!user.user.value">
        See our locations:
    </div>

    <div class="add-more" *ngIf="user.user.value">
        <button (click)="addDestination()"> Add Destination <span class="material-symbols-sharp"> add_location_alt </span> </button>
    </div>
    <div class="dists">
        <div class="agencies">
            <div class="column" *ngFor="let col of columns; let i = index">
                <div class="bar"></div>
                <app-simple-card class="card" *ngFor="let dest of col" [image]="dest.slike?.[0] ?? 'assets/capys/_929cdc23-25cc-422f-b4f6-1ccfe265d67a.jpg'" [caption]="dest.naziv"
                    [removeCallback]="deleteDestination(dest)"
                    [description]="dest.opis" [goto]="destLink(dest)" [editLink]="'/admin/edit/destination/' + dest.id" [editParams]="{by:agency.id}"/>
            </div>
        </div>
    </div>
</div>