.page {
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    background-color: white;
    opacity: 0;
}

app-nav-bar {
    width: 100vw;
    height: 10vh;
}

.image-holder {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}

.image-holder img {
    width: 100vw;
    display: block;
    filter: blur(5px);
}

.page {
    top: 30vh;
    left: 15vw;
    width: 70vw;
    padding: 1em;

    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-direction: column;
}

.page .title {
    margin: 1em 0;
    font-size: 1.5em;
}

.page .text {
    margin-bottom: 1em;
}

.page .item {
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: max-content;
}

.page .item span {
    margin-right: 1em;
}

.dists {
    width: 70vw;
    overflow: hidden;
}

.agencies {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100%;
}

.agencies .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.agencies .column .card {
    width: 100%;
}

.edit-icon {
    transition: all 0.4s;
    color: white;
    background-color: rgb(217, 118, 37);
    font-size: 1.5em;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: -1em;
    top: -1em;
}

.edit-icon:hover {
    transform: scale(1.1);
}

.edit-icon span {
    font-size: 1.5em;
}

a {
    text-decoration: none;
}

.remove-icon {
    transition: all 0.4s;
    color: white;
    background-color: rgb(202, 18, 18);
    font-size: 1.5em;
    border-radius: 1em;
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: -1em;
    top: -1em;
}

.remove-icon span {
    font-size: 1.5em;
}

.remove-icon:hover {
    transform: scale(1.1);
}
