<app-nav-bar #appNav [agency]="agency" [destination]="destination"/>

<div class="image-holder">
    <img [src]="logo">
</div>

<div *ngIf="destination" class="page" [style.opacity]="opacity">

    <div class="toolbelt" *ngIf="user.user.value">
        <a class="edit-icon" [routerLink]="'/admin/edit/destination/' + destination.id" [queryParams]="{by: agency?.id}">
            <span class="material-symbols-sharp">
                edit
            </span>
        </a>
        <div class="remove-icon" (click)="deleteDestination(destination)">
            <span class="material-symbols-sharp">
                delete
            </span>
        </div>
    </div>

    <div class="title">{{destination.naziv}}</div>
    <div class="text">{{destination.opis}}</div>
    <div class="item"> <span
            class="material-symbols-sharp">
            home_work
        </span> {{destination.tip}}</div>
    <div class="item"> <span class="material-symbols-sharp">
            commute
        </span> {{destination.prevoz}}</div>
    <div class="item"> <span class="material-symbols-sharp">
            euro
        </span> {{destination.cena}}</div>
    <div class="title">
        It's beautiful!
    </div>
    <div class="dists" (click)="stp($event)">
        <div class="agencies">
            <div class="column"  *ngFor="let col of columns; let i = index">
                <app-simple-card class="card" *ngFor="let img of col" [image]="img" [simple]="true" [removeCallback]="deleteSlike(img)"/>
            </div>
        </div>
    </div>
</div>