/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh
}



@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');

/* font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif; */

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


  button {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    border: 2px grey solid;
    border-radius: 1em;
    padding: 0.5em 1em;
    font-size: 1.5em;
    cursor: pointer;
  }

  button:hover {
    color: rgb(217, 118, 37);
  }