.main-block .video {
    height: 30vh;
    width: 100vw;
    object-fit: cover;
}

.input-holder-holder {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: -1.5em;
}

.input-holder {
    height: 3em;
    width: 70vw;
    border-radius: 1.5em;
    border-bottom: solid 2px grey;
    background-color: white;
    /* box-shadow: 2px 2px 1pc #ccc; */
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .input-holder:hover {
    
} */

.input-holder input {
    height: 100%;
    width: 100%;
    border-radius: 1.5em;
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

.input-holder div {
    margin: 1em;
}

input:focus{
    outline: none;
}

.agencies {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 100vw;
}

.agencies .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.agencies .column .card {
    width: 100%;
}

.main-block {
    height: 50vh;
}

.curtain {
    position: fixed;
    height: 10vh;
    width: 100vw;
    bottom: 0;
    background: linear-gradient(180deg, rgba(2,0,36,0) 0%, rgba(255,255,255,1) 100%);
    z-index: 2;
}

.add-more{
    margin-top: 5em;
}
