<div class="main-block">
    <app-nav-bar/>
    <video class="video" autoplay muted loop src="assets/pexels-enrique-hoyos-3571264-1920x1080-30fps.mp4"></video>
    <div class="input-holder-holder">
        <div class="input-holder">
            <div class="material-symbols-sharp">
                search
            </div>
            <input type="text" placeholder="Browse agency or location..." [(ngModel)]="request" (input)="search.request.next(request)"/>
        </div>
    </div>
    <div class="input-holder-holder">
        <div class="add-more" *ngIf="user.user.value">
            <button (click)="addAgency()"> Add Destination <span class="material-symbols-sharp"> add_location_alt </span> </button>
        </div>
    </div>
</div>
<div class="agencies">
    <div class="column"  *ngFor="let col of columns; let i = index">
        <div class="bar"></div>
        <app-simple-card class="card" *ngFor="let agency of filterCol(col, search.request.value)" 
        [removeCallback]="deleteAgency(agency)"
        [image]="agency.logo" [caption]="agency.naziv" 
        [hashtags]="getDist(agency)" [goto]="agencyLink(agency)"
        [editLink]="'/admin/edit/agency/' + agency.id"/>
    </div>
</div>
<div class="curtain">

</div>
<div class="footer">

</div>
